@{
    ViewBag.Title = "Contact";
}

<div style="background-color:rgba(0, 0, 0, 0.8);color:white;margin-top:100px;display:inline-block;">
    <div style="margin:40px;">
        <address>
            <div style="margin:20px;border: white solid 1px;padding:5px;">
                <b>Owner's cell phone(Rosen):</b> +1 808 454 7119<br />
                <b>Owner's e-mail:</b> <a href="mailto:lv3741@hotmail.com">lv3741@hotmail.com</a><br />
            </div>
        </address>

        <address>
            <div style="margin:20px;border: white solid 1px;padding:5px;">
                <strong>Design & Web Development:</strong> 
                <div style="text-align:center;">
                    <div>
                        <b>E-mail:</b><a href="mailto:st.mihaylov.mihaylov@gmail.com"> st.mihaylov.mihaylov@gmail.com</a>
                    </div>
                    <div>
                        <b>Website:</b><a target="_blank" href="http://stoychomihaylov.com"> stoychomihaylov.com</a>
                    </div>
                    <hr>
                    <div>
                        <p>Please contact me for any problems with the technical part of the system. Thank you!</p>
                    </div>
                </div>
            </div>
        </address>
    </div>
</div>